
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@if (User.IsInRole("Admin"))
{

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br/>
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
}
else
{
    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br/>
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2253.5947151993832!2d12.997734115929058!3d55.609066880515115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4653a3f906ddda07%3A0xd160a0109991261b!2sMalm%C3%B6+centralstation!5e0!3m2!1ssv!2sse!4v1480585735813" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
}