
<h2>@ViewBag.Title</h2>

<p data-bind="text: MessageToClient"></p>

<div>
    <div class="form-group">
        <label class="control-label">Kundens Namn:</label>
        <span class="form-group" data-bind="text: CustomerName"></span>
    </div>
    @*<div class="form-group">
            <label class="control-label">P.O. Number:</label>
            <span class="form-group" data-bind="text: PONumber"></span>
        </div>*@
    <div class="form-group">
        <label class="control-label">Bords Plats:</label>
        <span class="form-group" data-bind="text: SeatPlace"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Anställdas Namn:</label>
        <span class="form-group" data-bind="text: EmployeeName"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Betalningsmetod:</label>
        <span class="form-group" data-bind="text: PaymentMethodId"></span>
        @*<span class="form-group" data-bind="text: PaymentMethodType"></span>*@
    </div>
</div>

<table class="table">
    <tr>
        <th>Produkt</th>
        <th>Kvantitet</th>
        <th></th>

    </tr>
    <tbody data-bind="foreach: SalesOrderItems">
        <tr>
            <td class="form-group">
                <span class="form-control input-sm" data-bind="text: itemName()"></span>
            </td>
            <td class="form-group">
                <span class="form-control input-sm text-right" data-bind="text: Quantity"></span>
            </td>
            <td class="form-group"><span class="form-control input-sm text-right" data-bind="text: findItem()"></span></td>
        </tr>
    </tbody>
    <tr>
        <td>&nbsp;</td>
        <td class="form-group"><span class="form-control text-right">Totalt</span></td>
        <td class="form-group"><span class="form-control text-right" data-bind="text: contactsTotal()"></span></td>
    </tr>
</table>

<p>
    <a href='/' class="btn btn-default btn-sm">&laquo; Tillbaka till Lista</a>
</p>
