<div class="row">
    @*<div class="col-sm-3 menuNav">
        @Html.Partial("_ManagerPagePartial")
    </div>*@
    <div class="col-sm-9 standardMenu">
        <div>
            <p>
                Välj bland alternativen nedanför för att lägga till t.ex Anställda
            </p>
        </div><br />


        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Employees")'">Anställda</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "EmployeeForms")'">Anställnings Former</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "EmployeeTypes")'">Anställnings Typer</button>
            </div>
        </div>
    </div>
</div>
