@using EatOutByBI.Domain.Models
<div class="menuNav" data-navigation="true">
    <ul id="menu" class="nav">
        <li>@Html.MenuLink("Chef", "Index", "Manager")</li>
        <li>@Html.MenuLink("Produkter", "AdminAddProdEmp", "AdminPage")</li>
        <li>@Html.MenuLink("Användare", "Employees", "AdminPage")</li>
        <li>@Html.MenuLink("Bokningar", "BookingsIndex", "Bookings")</li>

    </ul>
</div>
