@model EatOutByBI.Data.DTO.PaymentMethodDTO

@{
    ViewBag.Title = "Ta Bort Betalningsmetod";
}

<h2>Ta Bort Betalningsmetod</h2>

<h3>Är du säker på att du vill ta bort det här?</h3>
<div>
    <h4>Betalningsmetod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethodType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethodType)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta Bort" class="btn btn-danger" /> |
            @Html.ActionLink("Tillbaka", "Index")
        </div>
    }
</div>
