@model EatOutByBI.Data.DTO.PaymentMethodDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Betalningsmetoder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethodType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethodType)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentMethodId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
