
@{
    ViewBag.Title = "_PartialBookingTime";
}

<h2>_PartialBookingTime</h2>

<h2>POTATO</h2>

@foreach (var item in Model)
{

    <p>helloo</p>
        @*<p>@item.BookingTime.Time.Hour:00</p>*@
        <p>@item.</p>
}