@model  IEnumerable<EatOutByBI.Data.Classes.Booking>
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm(""))
{

}
<div class="row">
    <div class="col-sm-6">
        <h2>Index</h2>
    </div>
    <div class="col-sm-6">

        
        <input id="txt" type="text" value=""/>
        <button id="bt" onclick="Test();">tetettt</button>
        <input id="btn" type="button" value="test"/>
        <input id="txt2" type="text" value=""/>
    </div>


</div>

<script>

    




</script>