@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Skapa Roll";
}

<h2>Skapa Roll</h2>

@using (Html.BeginForm())
{
        <div class="rightMenu">
        <p>Skriv in Användarens Rollnamn:</p>
        @Html.EditorFor(m => m.Name)
        <input type="submit" value="Skapa Roll" />
    </div>
}