
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
</ul>