
@{
    ViewBag.Title = "Index";
}

<h2>Admin Page</h2>

<div class="row">
    <div class="col-sm-3 menuNav">
        <p class="onMenuChoice">@Html.ActionLink("Admin", "Index", "AdminPage")</p>
        <p>@Html.ActionLink("Lägg till Prod/Anställd", "AdminAddProdEmp", "AdminPage")</p>
        <p>@Html.ActionLink("Registrera Användare", "Register", "Account")</p>
        @*<p>@Html.ActionLink("Efterrätter", "Desserts", "Menu")</p>*@
    </div>
    <div class="col-sm-9">
        <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiODJhNGEyZWEtZDc0Yy00MzA4LWIxYzQtMjc3MzRkZjdjNGM1IiwidCI6IjEwMWMxMTg1LTc3ZWMtNDBjMy1hZTdhLTU5Y2FiZjQ4ZDFkYSIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>






