@model EatOutByBI.Data.DTO.SeatDTO

@{
    ViewBag.Title = "Bordsplats Detaljer";
}

<h2>Bordsplats Detaljer</h2>

<div>
    <h4>Bordsplats</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeatPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatPlace)
        </dd>



    </dl>
</div>
<p>
    
   @*@Html.ActionLink("Link Text", "Edit",
         new {  id = Model.SeatID },
         new { @class = "btn btn-default" })*@


    @Html.ActionLink("Ändra", "Edit", new { id = Model.SeatID }) |
    @Html.ActionLink("Tillbaka", "Index")
</p>
