
@{
    ViewBag.Title = "Drinks";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-8">
            <h2 class="menuHead">Dryck</h2>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-3 menuNav">
            <p>@Html.ActionLink("Meny", "Index", "Menu")</p>
            <p>@Html.ActionLink("À la Carte", "ALaCarte", "Menu")</p>
            <p id="onDrinks">@Html.ActionLink("Dryck", "Drinks", "Menu")</p>
            <p>@Html.ActionLink("Efterrätter", "Desserts", "Menu")</p>
        </div>
        <div class="col-sm-8 rightMenu">
            <h2>Alkohol Fritt</h2>
            <h3 class="menuPris">Pris</h3>
            <ul>
                <li>
                    <p>
                        Smakrik wok med ingefära, kycklingfiléer, peppar och champinjoner och vitlök.
                    </p>
                    <h4>20kr</h4>
                </li>
                <li>
                    <p>
                        Smakrik wok med ingefära, kycklingfiléer, peppar och champinjoner och vitlök.
                    </p>
                    <h4>20kr</h4>
                </li>
            </ul>
            <h2>Öl</h2>
            <ul>
                <li>
                    <p>Heineken 33cl</p>
                    <h4>10kr</h4>
                </li>
            </ul>
            <h2>Vin</h2>
            <ul>
                <li>
                    <p>Rosé cl</p>
                    <h4>10kr</h4>
                </li>
            </ul>
            <h2>Sprit</h2>
            <ul>
                <li>
                    <p>Sprit</p>
                    <h4>10kr</h4>
                </li>
            </ul>
        </div>
    </div>
</div>