body {
    background-color: grey;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Images/Fahlu-Restaurant-Komandoo-Maldives.jpg');
    font-size: 17px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /* rgba(255, 255, 255, 0.72)*/
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.72);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootsrap Overrides */

/*Hela navbaren*/
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.55);
    font-size: 25px;
}

    /* Texten on navbar */
    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

        /* Texten on navbar :Hover */
        .navbar-inverse .navbar-nav > li > a:hover {
            color: #760000;
        }

    /* Navbar Logo/Brand */
    .navbar-inverse .navbar-brand {
        font-size: 35px;
        color: #009581;
    }
        /* Navbar Logo/Brand :Hover*/
        .navbar-inverse .navbar-brand:hover {
            color: #760000;
        }

    /*Ändra färgen på när man trycker på dropdown*/
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: rgba(205,40,39,0.55);
    }

/*Ta bort shadow från dropdown*/
.dropdown-menu {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}


/*Ändra pilen i dropdown till vit*/
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}



/* Change color on hover */
/*.navbar-inverse .navbar-nav > li > a:hover {
    color: black;
}*/


/* Ändra logo/Brand */
.navbar-brand {
    font-weight: 700;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato,"Helvetica Neue", Helvetica, Arial, sans-serif;
}




/* Forms on the Site */

/* Forms on the Site*/


.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    padding: 20px 15px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}



    /* Change textbox */
    .form-control:focus {
        border-color: #2196f3;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    }

.btn {
    font-size: 17px;
    padding: 7px 20px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

/*Menu site*/
.menuHead {
    font-family: Rancho;
    text-align: center;
    font-size: 65px;
}

.rightMenu {
    background-color: rgba(245, 245, 245, 0.69);
    margin-left: 5px;
    border-radius: 5px;
    font-size: 23px;
}

    .rightMenu > h2 {
        text-align: center;
        font-family: Rancho;
        font-size: 45px;
    }

    .rightMenu > ul > li {
        list-style-type: none;
        border-bottom: 1px solid white;
        margin-top: 25px;
        margin-bottom: 10px;
        color: #760000;
    }


        .rightMenu > ul > li > h4 {
            /*float: right !important;*/
            text-align: right;
            margin-right: 20px;
            color: black;
        }

.menuPris {
    text-align: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

/*Menu Nav*/
.menuNav {
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    padding: 15px 15px;
}

    .menuNav > p {
        border-bottom: 1px solid grey;
    }

        .menuNav > p > a {
            text-decoration: none;
            color: whitesmoke;
        }

/*Menu Nav Dessert Bugg Fix*/
#NavDessert {
    margin-left: 15px;
}
