body {
    /*background-color: grey;*/
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background: url('../Pictures/rest1.jpg') no-repeat center center fixed;
    width: 100%;
    height: 100%;
    color: rgba(225, 225, 225, 0.87);
    background-size: cover;
}

.row {
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /* rgba(255, 255, 255, 0.72)*/
    padding-left: 15px;
    padding-right: 15px;
    /*background-color: rgba(255, 255, 255, 0.16);*/
    padding-top: 120px;
    /*background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.72);*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootsrap Overrides */

/*Hela navbaren*/
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.55);
    font-size: 25px;
}

    /* Texten on navbar */
    .navbar-inverse .navbar-nav > li > a {
        /*color: #fff;*/
                color: #a80000;
        /*font-family: Shrikhand;*/
        font-family: Pacifico;
    }

        /* Texten on navbar :Hover */
        .navbar-inverse .navbar-nav > li > a:hover {
            color: #760000;
        }

    /* Navbar Logo/Brand */
    .navbar-inverse .navbar-brand {
        color: #a80000;
        font-size: 26px;
            font-family: Pacifico;
    }
        /* Navbar Logo/Brand */
    .navbar-inverse .navbar-brand:hover {
        color: #fff;
    }

    /*Ändra färgen på när man trycker på dropdown*/
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: rgba(205,40,39,0.55);
    }

/*Ta bort shadow från dropdown*/
.dropdown-menu {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.startImg {
    
}


/*Ändra pilen i dropdown till vit*/
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}



/* Change color on hover */
.navbar-inverse .navbar-nav > li > a:hover {
    /*color: #fff;*/
    color: rgba(217, 0, 0, 0.86);
    color: #9d9d9d;

}


/* Ändra logo/Brand */
.navbar-brand {
    font-weight: 700;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    /*font-family: Shrikhand;*/
    /*font-family: Pacifico;*/
    /*font-family: 'Lobster Two';*/
    /*font-family: 'Kaushan Script';*/


    font-family: Lato,"Helvetica Neue", Helvetica, Arial, sans-serif;
}




/* Forms on the Site */

/* Forms on the Site*/


.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    padding: 20px 15px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}



    /* Change textbox */
    .form-control:focus {
        border-color: #2196f3;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    }

.btn {
    font-size: 17px;
    padding: 7px 20px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

/*Menu site*/
