body {
}

img {
                border: 1px solid rgba(145, 0, 0, 0.69);
    border: 1px solid rgba(0, 0, 0, 0.33);
}

.aboutDiv {
    /*position: relative;left: -50%;*/
    text-align: center;
    background-color: rgba(0, 0, 0, 0.43);
}

.aboutDiv > section {
    margin-top: 1%;
    font-family: Raleway, italic;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Rancho';
    font-size: 120%;
}

.aboutDiv > h1 {
    font-family: 'Rancho';
    color: #a80000;
font-size: 260%;
}

.restImg2 > img{
    width: 100%;
    margin-top: 1%;
    height: 450px;

}

.foodChoice {
    margin-top: 1%;
    background-color: rgba(0, 0, 0, 0.43);
    text-align: center;

}



#fChoice1 > img{
    height: 240px;
}

.foodChoice > img {
    margin-top: 30%;
    width: 100%;

}

 h2 {
        font-family: 'Rancho';
    color: #a80000;
        font-size: 220%;
}

p {
    color: white;
    font-family: 'Rancho';
    font-size: 120%;
}

#graphDiv1 > img{
    width: 93.6%;
}

#graphDiv2 > img {
    width: 90%;
    height: 485px;
    position: absolute;
    /*margin-left: 5%*/

}
